.mynav {
  position: absolute;
  right: 0;
  width:74px;
  height: 100%;
  /* background-image: url('./assets/backk222.jpg'); */
  background-color: #ade0e9;
  box-shadow: -11px 8px 20px -13px rgba(0,0,0,0.30);
  background-repeat: round;
  border-radius: 7px 0 0 7px;
  z-index: 10;
}

ul, li {
  display: inline;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons li:nth-child(1) {
  margin-top: 2.5em;
  margin-bottom: 5em;
  background-color: rgb(211, 236, 240);

}

.icons li {
  padding: 1.2em 1.5em;
  box-shadow: 5px 5px 15px -15px #000000;
}

.icons li:hover {
  background-color: rgb(211, 236, 240);
  cursor: pointer;
}
