.landing {
  position: fixed;
  right:0;
  z-index: 2;
  display: flex;
  margin-right: 2em;
}

.landing div {
  cursor: pointer;
  margin: 2.2em 4em;
  font-size:1.05em;
  color:white;
  text-shadow: 2px 1px 3px rgba(24, 24, 24, 0.39);
}