
.mycontainer{
  position: absolute;
  top:6em;
  right: 7.5em;
  width: 48%;
  height: 82%;
  border-radius: .6em;
  box-shadow: 0px 2px 5px -3.5px rgba(0,0,0,0.95);
}

.requests-sec{
  position: absolute;
  top:4em;
  width: 95%;
  height: 82.6%;
  overflow-y: scroll;
}

.circle-icon{
  position: absolute;
  box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.95);
  background-color: rgb(245, 231, 252);
  font-size: 1.2em;
  border-radius: 1em;
  padding: .26em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.setting-icon{
  top:.6em;
  right: 1.2em;
  padding: .25em;
}

/* .plus-icon {
  bottom:.3em;
  right: 9.6em;
} */

.head p{
  position: absolute;/*make word stick while cards scrolling*/
  top:1.6em;
  left:1.7em;
  font-weight: bold;
  font-size: 1.1em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.requests-sec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.requests-sec {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}